
.new{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    width: 70%;
    margin: 5rem auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    border-radius: 4px;
}

.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.input{
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 3px;
    border:1px solid lightgray;
}

.select{
    width: 70%;
    margin: 1rem auto;
    height: 4rem;
    font-size: 2rem;
}

.label{
    
    width: 70%;
    margin: 1rem auto 0rem auto;
    font-size: 2rem; 
}

.file{
    display: flex;
    align-self: center;
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 3px;
    border:1px solid lightgray;

}


.submit{
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    background: green;
    border-radius: 3px;
    cursor: pointer;
}

.submit:hover{
    font-weight: 600;
}



