
.register{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width: 60%;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    margin-top: 10rem;
    padding: 3rem;
    border-radius: 5px;

}

.heading{
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0 4rem 0;
}
.text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.btn{
    text-align: center;
    margin: 5rem auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    font-size: 1.8rem;
    cursor: pointer;
}

.btn:hover{
    background: black;
    color: white;
}


.link{
    text-decoration: none;
}